@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');
:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body{
  margin: 0;
  background-color: var(--background);
}
body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  text-decoration: none;
}

.app{
  display: flex;
}

.left_area{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.logo{
  margin: 15px;
  width: fit-content;
}
.form_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main_text{
  font-family: 'Poppins', sans-serif;
  color: var(--text-title);
  width: 100%;
  padding-left: 5%;
}
.main_text_big{
  position: relative;
  font-size: 0.7rem;
  display: flex;


}
.main_text_big h1{
  margin-left: 10px;
}
.main_text p{
  font-size: 0.7rem;
  color: var(--text-base);
  margin-bottom: 10px;
}

.email_form, .senha_form{
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  color: var(--text-base);
  font-family: 'Poppins', sans-serif;

}
.inputlabel{
  margin: 8px 0 0 0;
}
.textinput{
  padding: 8px 30px 8px 30px;
  height: 35px;
  background-color: transparent;
  border: 1px solid var(--text-base);
  border-radius: 0.25rem;
  color: white;
}
.textinput:focus{
  outline: 2px solid var(--primary-color);
}
.email_form .textinput:focus + .inputicon{
  content: url("./mail-focus.svg");
}
.senha_form .textinput:focus + .inputicon{
  content: url("./lock-focus.svg");
}
.senha_form .textinput:focus + .inputicon:nth-child(5){
  content: url("./check.svg");
}
.inputicon{
  position: absolute;
  bottom: 8px;
  left: 8px;
  cursor: pointer;
}
.inputicon:nth-child(4){
  left: auto;
  right: 8px;
}

.password_configs{
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-base);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}

.checkbox_configs{
  display: flex;
  align-items: center;
}

.checkbox_configs input[type="checkbox"]{
  appearance: none;
  border: 1px solid var(--text-base);
  width: 15px !important;
  height: 15px;
  border-radius: 0.1rem;
  margin-right: 3px;
  cursor: pointer;
}
.checkbox_configs input[type="checkbox"]:checked {
  background-image: url("./check.svg");
  background-size: 100%;
}

.password_configs strong{
  color: var(--primary-color);
}

.logbutton{
  width: 90%;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  margin-top: 20px;
  color: var(--form-background);
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  font-size: 1rem;
  cursor: pointer;
}
.undebutton_text{
  margin-top: 10px;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
}

.right_area{
  display: none;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.right_area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media only screen and (min-width: 600px) {
  .right_area{
    display: block;
  }
  .left_area{
    align-items: center;
    justify-content: center;
  }
  .logo{
    position: absolute;
    left: 0;
    top: 0;
  }
  .form_box{
    background-color: var(--form-background);
    width: 80%;
    padding: 60px 0px;

  }
  .main_text{
    width: 60%;
    padding: 0;
  }
  .email_form, .senha_form, .password_configs, .logbutton{
    width: 60%;
  }
}